@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #DD8D14;
    --light-color: white;
    --dark-color: black;
    --accent-color: #071157;
}

body {
    background-color: var(--accent-color);
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2 {
    color: var(--main-color);
}

.hide {
    display: none;
}

/* Animations */
@keyframes moveright {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Homepage */

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2rem auto 13rem auto;
    color: var(--light-color);
}

#logo-mobile {
    display: block;
}

#logo-desktop {
    display: none;
}

.homepage_content__title {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 3rem;
    padding: 1rem 1rem;
}

.homepage_content__title span {
    color: var(--light-color);
}

.homepage_content__text {
    text-align: justify;
}

.homepage_content__text2 {
    text-align: justify;
    margin-top: 1rem;
}

.homepage_content__text2 span {
    color: var(--main-color);
    font-weight: 600;
    font-style: italic;
}

.buttons {
    width: 22rem;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn {
    padding: .4rem .8rem;
    background-color: var(--main-color);
    border: 3px solid var(--light-color);
    border-radius: .5rem;
    color: var(--accent-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.getStartedBtn {
    width: 22rem;
    padding: .4rem .6rem;
    background-color: var(--accent-color);
    border: 3px solid var(--light-color);
    border-radius: .5rem;
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.getStartedBtn:hover,
.getStartedBtn:focus {
    border: 3px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
}

.get-started a i {
    animation: moveright 2s ease-in-out infinite;
}

/* Instructions Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.733);
}

.modal-content {
    text-align: center;
    color: var(--light-color);
    background-color: var(--accent-color);
    margin: 50% auto;
    padding: 1.5rem;
    border: 3px solid var(--main-color);
    border-radius: 1rem;
    width: 80%;
}

.modal-content-title {
    color: var(--main-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modal-content-list {
    text-align: center;
    list-style-position: inside;
    margin-bottom: 1rem;
    font-weight: 600;
}

.modal-content-list li {
    padding: .5rem 0;
}

.modal-content-text {
    color: var(--main-color);
    font-weight: 600;
    font-style: italic;
}

.close {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 600;
}

.close:hover,
.close:focus {
    scale: 1.25;
    cursor: pointer;
}

/* Signup */

#signup {
    width: 100%;
    background-color: var(--main-color);
    color: var(--accent-color);
}

.signup__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 5rem 0;
}

.signup__title {
    color: var(--accent-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.signup__text {
    text-align: center;
}

.signup__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto;
    font-weight: 600;
}

.signup__form__text-input {
    margin-bottom: .5rem;
    line-height: 2rem;
    padding: .2rem .5rem;
    border: 3px solid var(--accent-color);
    border-radius: .2rem;
}

.signup__form__textarea {
    height: 6rem;
    margin-bottom: 1.5rem;
    padding: .5rem;
    border: 3px solid var(--accent-color);
    border-radius: .2rem;
}

.signup__form__btn {
    padding: .2rem 1rem;
    text-transform: uppercase;
    background-color: var(--accent-color);
    border: 3px solid var(--light-color);
    border-radius: .5rem;
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.signup__end_text {
    text-align: center;
    margin-top: .5rem;
    font-style: italic;
}

/* Footer */
footer {
    width: 100%;
    height: 8rem;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
}

.social-networks {
    display: flex;
    gap: 3rem;
}

.social-networks i {
    font-size: 1.2rem;
    color: var(--light-color);
    border: 2px solid var(--main-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.social-networks i:hover,
.social-networks i:focus {
    color: var(--accent-color);
    border: 2px solid var(--light-color);
    background-color: var(--main-color);
}

.devloped-text {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--light-color);
}

.devloped-text i {
    font-size: 1.2rem;
    color: var(--main-color);
}

.devloped-text i:hover,
.devloped-text i:focus {
    color: var(--light-color);
}

/* End */

#finalTextContainer {
    margin-top: 1rem;
    background-color: var(--main-color);
    border: 3px solid var(--light-color);
    padding: 1rem;
    border-radius: .5rem;
}

#final-text {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: 600;
}

#final-text strong {
    color: var(--light-color);
}

#final-quote {
    margin-top: 1rem;
    color: var(--light-color);
    font-style: italic;
}

#end {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#username {
    width: 100%;
}

#saveScoreBtn {
    width: 100%;
}

#end-form {
    width: 100%;
}

#end-form input {
    border: 5px solid var(--main-color);
    border-radius: .5rem;
    font-size: 1.5rem;
    background-color: var(--accent-color);
    margin: 1rem auto;
    padding: .3rem .8rem;
    color: var(--light-color);
}

#end-form input:focus {
    outline: none;
}

#end-form input::placeholder {
    color: var(--main-color);
}

#username-text {
    width: 90%;
    font-size: small;
    font-weight: 600;
    margin: 0 auto 1rem auto;
    font-style: italic;
    color: var(--light-color);
}

#control-buttons {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#control-buttons a {
    width: 46%;
    text-align: center;
}

/* Highscores */

#highScores {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leaderboard {
    background-color: var(--main-color);
    font-weight: 600;
    padding: 1.5rem;
    width: 100%;
    height: auto;
    margin: 1rem auto;
    border: 3px solid var(--light-color);
    border-radius: 1rem;
}

#leaderboard th {
    font-size: 1.2rem;
    color: var(--main-color);
    background-color: var(--accent-color);
}

#leaderboard td {
    padding-top: .3rem;
    text-align: center;
    border: 2px solid var(--accent-color);
    line-height: 1.8rem;
    color: var(--accent-color);
    background-color: var(--light-color);
}

.high-score {
    font-size: 1.5rem;
    color: var(--accent-color);
    text-align: center;
}

#highScores a.btn {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

#clearBtn {
    width: 100%;
}

/* Thank You */

.thank-you {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
}

.thank-you__content {
    background-color: var(--accent-color);
    width: 90%;
    height: auto;
    padding: 1rem;
    border: 5px solid var(--main-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thank-you__title {
    color: var(--main-color);
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.thank-you__text {
    color: var(--main-color);
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 2rem;
}

.thank-you__quote {
    color: var(--light-color);
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
}

/* 404 */

.error-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.error-page__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.error-page__title {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 800;
    margin-top: 3rem;
}

.error-page__title2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.error-page__quote {
    color: var(--light-color);
    font-style: italic;
    margin-bottom: 1rem;
}

.error-page__text {
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

@media (min-width: 800px) {

    /* Homepage */
    #homepage {
        height: 100vh;
        width: 50%;
        margin: 0 auto;
    }

    #logo-mobile {
        display: none;
    }

    #logo-desktop {
        display: block;
    }

    .homepage_content__title {
        text-align: center;
        font-size: 2.5rem;
        padding: 1rem 1rem;
    }

    .homepage_content__text {
        text-align: center;
        font-size: 1.2rem;
        width: 80%;
        margin: 0 auto 1rem auto;
    }

    .homepage_content__text2 {
        text-align: center;
        font-size: 1.2rem;
        width: 70%;
        margin: 0 auto;
    }

    .homepage_content__text2 span {
        color: var(--main-color);
        font-weight: 700;
        font-style: italic;
    }

    .buttons {
        width: 30rem;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
    }

    .btn {
        padding: .4rem 1.4rem;
        background-color: var(--main-color);
        border: 3px solid var(--light-color);
        border-radius: .5rem;
        color: var(--accent-color);
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--accent-color);
        border: 3px solid var(--main-color);
        color: var(--main-color);
        cursor: pointer;
    }

    .getStartedBtn {
        width: 30rem;
        padding: .6rem .6rem;
        background-color: var(--accent-color);
        border: 3px solid var(--light-color);
        border-radius: .5rem;
        color: var(--light-color);
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }

    /* Instructions Modal */

    .modal-content {
        margin: 15% auto;
        width: 50%;
    }

    .modal-content-title {
        color: var(--main-color);
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .modal-content-list {
        text-align: center;
        list-style-position: inside;
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: 1.2rem;
    }

    /* Signup */

    .signup__container {
        width: 40%;
        height: 82vh; 
    }

    .signup__title {
        color: var(--accent-color);
        font-size: 2.4rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .signup__text {
        text-align: center;
        font-size: 1rem;
        width: 86%;
        margin: 0 auto;
    }

    .signup__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1rem auto;
    }

    .signup__form__text-input {
        margin-bottom: .5rem;
        line-height: 2rem;
        border: 3px solid var(--accent-color);
        border-radius: .4rem;
    }
    
    .signup__form__textarea {
        height: 8rem;
        margin-bottom: 1.5rem;
        padding: .5rem;
    }

    .signup__form__btn {
        padding: .2rem 1rem;
        text-transform: uppercase;
        background-color: var(--accent-color);
        border: 3px solid var(--light-color);
        border-radius: .5rem;
        color: var(--main-color);
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        width: 20%;
        margin: 0 auto;
    }

    .signup__end_text {
        text-align: center;
        margin-top: 1em;
    }

    .signup__form__btn:hover {
        background-color: var(--main-color);
        border: 3px solid var(--accent-color);
        color: var(--accent-color);
        cursor: pointer;
    }

    /* Footer */

    footer {
        height: 12rem;
    }

    .social-networks i {
        font-size: 1.5rem;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    .devloped-text {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--light-color);
    }

    .devloped-text i {
        font-size: 1.5rem;
        color: var(--main-color);
    }

    /* End */

    #end {
        width: 40%;
        margin: 8rem auto;
    }

    #final-text {
        font-size: 1.8rem;

    }

    #final-quote {
        margin-top: 1.2rem;
    }

    #end-form {
        width: 100%;
    }

    #end-form input {
        margin: 1rem auto 0 auto;
    }

    #username-text {
        font-size: 1rem;
        margin: .5rem auto 1.5rem auto;
    }

    /* Highscores */

    #highScores {
        width: 40%;
        margin: 2rem auto;
    }

    #highScoresList {
        min-height: 20vh;
    }

    #control-buttons {
        width: 40%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #control-buttons a {
        width: 46%;
        text-align: center;
    }

    /* Thank You */

    .thank-you__content {
        width: 60%;
        padding: 2rem;
    }
    
    .thank-you__title {
        font-size: 4rem;
        line-height: 4.2rem;
        margin-bottom: 3rem;
    }
    
    .thank-you__text {
        font-size: 1.5rem;
        text-align: justify;
        margin-bottom: 3rem;
    }
    
    .thank-you__quote {
        font-size: 1.3rem;
        width: 60%;
        margin-bottom: 3rem;
    }

    /* 404 */

.error-page__title {
    font-size: 6rem;
    line-height: 6rem;
    margin-top: 1rem;
}

.error-page__title2 {
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.error-page__quote {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.error-page__text {
    font-size: 1.8rem;
}

}