@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #DD8D14;
    --light-color: white;
    --dark-color: black;
    --accent-color: #071157;
}

body {
    background-color: var(--accent-color);
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2 {
    color: var(--main-color);
}

.hide {
    display: none;
}

/* Animations */
@keyframes moveright {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Homepage */

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 1rem auto;
    color: var(--light-color);
}

.homepage_content__title {
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 1rem;
}

.homepage_content__title span {
    color: var(--light-color);
}

.homepage_content__text {
    text-align: justify;
}

.homepage_content__text2 {
    text-align: justify;
    margin-top: 1rem;
}

.homepage_content__text2 span {
    color: var(--main-color);
    font-weight: 600;
    font-style: italic;
}

.buttons {
    width: 22rem;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn {
    padding: .4rem .8rem;
    background-color: var(--main-color);
    border: 3px solid var(--light-color);
    border-radius: .5rem;
    color: var(--accent-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.getStartedBtn {
    width: 22rem;
    padding: .4rem .6rem;
    background-color: var(--accent-color);
    border: 3px solid var(--light-color);
    border-radius: .5rem;
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.getStartedBtn:hover,
.getStartedBtn:focus {
    border: 3px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
}

.get-started a i {
    animation: moveright 2s ease-in-out infinite;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.733);
}

.modal-content {
    text-align: center;
    color: var(--light-color);
    background-color: var(--accent-color);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 1.5rem;
    border: 3px solid var(--main-color);
    border-radius: 1rem;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-content-title {
    color: var(--main-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modal-content-list {
    text-align: center;
    list-style-position: inside;
    margin-bottom: 1rem;
    font-weight: 600;
}

.modal-content-list li {
    padding: .5rem 0;
}

.modal-content-text {
    color: var(--main-color);
    font-weight: 600;
    font-style: italic;
}

/* The Close Button */
.close {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 600;
}

.close:hover,
.close:focus {
    scale: 1.25;
    cursor: pointer;
}

/* Footer */
footer {
    width: 100%;
    height: 10rem;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
}

.social-networks {
    display: flex;
    gap: 3rem;
}

.social-networks i {
    font-size: 1.2rem;
    color: var(--light-color);
    border: 2px solid var(--main-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.social-networks i:hover,
.social-networks i:focus {
    color: var(--accent-color);
    border: 2px solid var(--light-color);
    background-color: var(--main-color);
}

.devloped-text {
    font-size: 1rem;
    color: var(--light-color);
}

.devloped-text i {
    font-size: 1.2rem;
    color: var(--main-color);
}

.devloped-text i:hover,
.devloped-text i:focus {
    color: var(--light-color);
}


/* End */

#finalTextContainer {
    margin-top: 1rem;
    background-color: var(--main-color);
    border: 3px solid var(--light-color);
    padding: 1rem;
    border-radius: .5rem;
}

#final-text {
    color: var(--accent-color);
    font-size: 1.5rem;
}

#final-text strong {
    color: var(--light-color);
}

#final-quote {
    margin-top: 1rem;
    color: var(--light-color);
    font-style: italic;
}

#end {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#username {
    width: 100%;
}

#saveScoreBtn {
    width: 100%;
}

#end-form {
    width: 100%;
}

#end-form input {
    border: 5px solid var(--main-color);
    border-radius: .5rem;
    font-size: 1.5rem;
    background-color: var(--accent-color);
    margin: 1rem auto;
    padding: .3rem .8rem;
    color: var(--light-color);
}

#end-form input:focus {
    outline: none;
}

#end-form input::placeholder {
    color: var(--main-color);
}

#username-text {
    width: 90%;
    font-size: small;
    font-weight: 600;
    margin: 0 auto 1rem auto;
    font-style: italic;
    color: var(--light-color);
}

#control-buttons {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#control-buttons a {
    width: 46%;
    text-align: center;
}

/* Highscores */

#highScores {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highScoresList {
    background-color: var(--main-color);
    padding: 1.5rem;
    width: 100%;
    min-height: 30vh;
    margin: 1rem auto;
    border: 3px solid var(--light-color);
    border-radius: 1rem;
}

.high-score {
    font-size: 1.5rem;
    color: var(--accent-color);
    text-align: center;
}

#highScores a.btn {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

#clearBtn {
    width: 100%;
}

@media (min-height: 1000px) and (orientation: landscape) {

    footer {
        position:relative;
    }
}

@media (min-width: 800px) {

    #homepage {
        width: 50%;
        margin: 6rem auto;
    }

    .homepage_content__title {
        text-align: center;
        font-size: 2.5rem;
        padding: 1rem 1rem;
    }

    .homepage_content__text {
        text-align: center;
        font-size: 1.2rem;
        width: 80%;
        margin: 0 auto 1rem auto;
    }

    .homepage_content__text2 {
        text-align: center;
        font-size: 1.2rem;
        width: 70%;
        margin: 0 auto;
    }

    .homepage_content__text2 span {
        color: var(--main-color);
        font-weight: 700;
        font-style: italic;
    }

    .buttons {
        width: 30rem;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
    }

    .btn {
        padding: .4rem 1.4rem;
        background-color: var(--main-color);
        border: 3px solid var(--light-color);
        border-radius: .5rem;
        color: var(--accent-color);
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--accent-color);
        border: 3px solid var(--main-color);
        color: var(--main-color);
        cursor: pointer;
    }

    .getStartedBtn {
        width: 30rem;
        padding: .6rem .6rem;
        background-color: var(--accent-color);
        border: 3px solid var(--light-color);
        border-radius: .5rem;
        color: var(--light-color);
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }

    .modal-content {
        margin: 15% auto;
        width: 50%;
    }

    .modal-content-title {
        color: var(--main-color);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .social-networks i {
        font-size: 1.5rem;
        color: var(--light-color);
        border: 2px solid var(--main-color);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        text-align: center;
        line-height: 45px;
    }
    
    .devloped-text {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--light-color);
    }
    
    .devloped-text i {
        font-size: 1.5rem;
        color: var(--main-color);
    }

    /* End */

    #end {
        width: 40%;
        margin: 8rem auto;
    }

    #final-text {
        font-size: 1.8rem;
    }

    #final-quote {
        margin-top: 1.2rem;
    }

    #end-form {
        width: 100%;
    }

    #end-form input {
        margin: 1rem auto 0 auto;
    }

    #username-text {
        font-size: 1rem;
        margin: .5rem auto 1.5rem auto;
    }

    /* Highscores */

    #highScores {
        width: 40%;
        margin: 8rem auto;
    }

    #highScoresList {
        min-height: 20vh;
    }

    #control-buttons {
        width: 40%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #control-buttons a {
        width: 46%;
        text-align: center;
    }

}