@media screen and (min-width: 768px) {

    /* Homepage */
    #homepage {
        height: 100vh;
        width: 80%;
        margin: 0 auto;
    }

    #logo-mobile {
        display: none;
    }

    #logo-desktop {
        display: block;
    }

    .homepage_content__title {
        text-align: center;
        font-size: 2.5rem;
        padding: 1rem 1rem;
    }

    .homepage_content__text {
        text-align: center;
        font-size: 1.2rem;
        width: 80%;
        margin: 0 auto 1rem auto;
    }

    .homepage_content__text2 {
        text-align: center;
        font-size: 1.2rem;
        width: 70%;
        margin: 0 auto;
    }

    .homepage_content__text2 span {
        color: var(--main-color);
        font-weight: 700;
        font-style: italic;
    }

    .buttons {
        width: 30rem;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
    }

    .btn {
        padding: .4rem 1.4rem;
        background-color: var(--main-color);
        border: 3px solid var(--light-color);
        border-radius: .5rem;
        color: var(--accent-color);
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--accent-color);
        border: 3px solid var(--main-color);
        color: var(--main-color);
        cursor: pointer;
    }

    #getStartedBtn {
        width: 30rem;
        padding: .6rem .6rem;
        background-color: var(--accent-color);
        border: 3px solid var(--light-color);
        border-radius: .5rem;
        color: var(--light-color);
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }

    /* Instructions Modal */

    .modal-content {
        margin: 15% auto;
        width: 80%;
    }

    .modal-content-title {
        color: var(--main-color);
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .modal-content-list {
        text-align: center;
        list-style-position: inside;
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: 1.2rem;
    }

    /* Signup */

    #signup {
        width: 100%;
        background-color: var(--main-color);
        color: var(--accent-color);
        margin-top: 5rem;
    }

    .signup__container {
        width: 80%;
    }

    .signup__title {
        color: var(--accent-color);
        font-size: 2.4rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .signup__text {
        text-align: center;
        font-size: 1rem;
        width: 86%;
        margin: 0 auto;
    }

    .signup__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1rem auto;
    }

    .signup__form__text-input {
        margin-bottom: .5rem;
        line-height: 2rem;
        border: 3px solid var(--accent-color);
        border-radius: .4rem;
    }

    .signup__form__textarea {
        height: 8rem;
        margin-bottom: 1.5rem;
        padding: .5rem;
    }

    .signup__form__btn {
        padding: .2rem 1rem;
        text-transform: uppercase;
        background-color: var(--accent-color);
        border: 3px solid var(--light-color);
        border-radius: .5rem;
        color: var(--main-color);
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        width: 20%;
        margin: 0 auto;
    }

    .signup__end_text {
        text-align: center;
        margin-top: 1em;
    }

    .signup__form__btn:hover {
        background-color: var(--main-color);
        border: 3px solid var(--accent-color);
        color: var(--accent-color);
        cursor: pointer;
    }

    /* Footer */

    footer {
        height: 12rem;
    }

    .social-networks i {
        font-size: 1.5rem;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    .devloped-text {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--light-color);
    }

    .devloped-text i {
        font-size: 1.5rem;
        color: var(--main-color);
    }

    /* End */

    #end {
        width: 80%;
        margin: 8rem auto;
    }

    #finalScore {
        font-size: 2rem;
    }

    #finalTextContainer {
        width: 100%;
    }

    #final-text {
        font-size: 1.8rem;
    }

    #final-quote {
        margin-top: 1.2rem;
    }

    #end-form {
        width: 100%;
    }

    #end-form input {
        margin: 1rem auto 0 auto;
    }

    #username-text {
        font-size: 1rem;
        margin: .5rem auto 1.5rem auto;
    }

    #control-buttons {
        width: 100%;
        margin: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #control-buttons a {
        width: 46%;
        text-align: center;
    }

    /* Highscores */

    #highScores {
        width: 80%;
        margin: 2rem auto;
    }

    #highScoresList {
        min-height: 20vh;
    }

    /* Thank You */

    .thank-you__content {
        width: 80%;
        padding: 2rem;
    }

    .thank-you__title {
        font-size: 4rem;
        line-height: 4.2rem;
        margin-bottom: 3rem;
    }

    .thank-you__text {
        font-size: 1.5rem;
        text-align: justify;
        margin-bottom: 3rem;
    }

    .thank-you__quote {
        font-size: 1.3rem;
        width: 80%;
        margin-bottom: 3rem;
    }

    /* 404 */

    .error-page__title {
        font-size: 6rem;
        line-height: 6rem;
        margin-top: 1rem;
    }

    .error-page__title2 {
        font-size: 4.5rem;
        font-weight: 800;
        margin-bottom: 1rem;
    }

    .error-page__quote {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .error-page__text {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1200px) {

    /* Homepage */

    #homepage {
        width: 60%;
    }

    /* Sign Up */

    .signup__container {
        width: 60%;
    }

    /* Highscores */

    #highScores {
        width: 60%;
    }

    /* End */

    #end {
        width: 50%;
    }

    /* Thank You */

    .thank-you__content {
        width: 60%;
        padding: 2rem;
    }
}