body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
    caret-color: transparent;
}

:root {
    --main-color: #071157;
    --light-color: white;
    --dark-color: black;
    --accent-color: #DD8D14;
    --transition: all 300ms ease-in-out;    
}

.hide {
    display: none;
}

.quiz-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem 1rem 3rem 1rem;
    width: 98%;
    height: auto;
}


#progressText {
    font-size: 1.2rem;
    margin-bottom: .2rem;
    font-weight: 500;
    color: var(--light-color);
}

#progressBar {
    width: 20rem;
    height: 1.5rem;
    border: 3px solid var(--main-color);
    margin-bottom: 1rem;
    border-radius: 50px;
    outline: 3px solid var(--light-color);
}

#progressBarFull {
    height: 100%;
    background-color: var(--main-color);
    width: 0%;
}

.quiz-score {
    font-weight: 800;
    font-size: 1.2rem;
    border: 5px solid var(--main-color);
    color: var(--main-color);
    margin: .5rem auto;
    width: 10rem;
    display: none;
}

.quiz-question {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.quiz-answers li {
    border-radius: .5rem;
    font-weight: 600;
    margin: .7rem auto;
    padding: .4rem 1.2rem;
    cursor: pointer;
    border: 3px solid var(--light-color);
    outline: 3px solid var(--main-color);
    color: var(--main-color);
    transition: var(--transition);
}

.quiz-answers li:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
    border-color: var(--light-color);
    transform: scale(0.97);
}

.quiz-answers li:active {
    transform: scale(0.97);
}

#result {
    font-size: 1.2rem;
    padding: .5rem 0;
    border: 3px solid var(--light-color);
    background-color: var(--main-color);
    color: var(--accent-color);
    border-style: double;
    border-radius: .5rem;
    display: none;
}

#result i {
    color: var(--light-color);
}

#result b {
    color: var(--light-color);
}

.selected {
    background-color: var(--main-color)!important;
    color: var(--accent-color)!important;
    border-color: var(--light-color)!important;
}

.quiz-controls button {
    margin-top: .5rem;
    text-transform: uppercase;
    transition: var(--transition);
}

#play-again{
    display: none;
    margin: 1rem auto;
}

#quotes{
    display: none;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
    padding-top: 1rem;
    color: var(--main-color);
}

@media (min-width: 800px) {

    .quiz-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 6rem auto;
        padding: 1.5rem 1rem 3rem 1rem;
        width: 50%;
        height: auto;
    }

    #progressText {
        font-size: 1.5rem;
        margin-bottom: .5rem;
        font-weight: 500;
        color: var(--light-color);
    }

    #progressBar {
        width: 25rem;
        height: 2rem;
        margin-bottom: 2rem;
    }

    .quiz-question {
        font-size: 1.5rem;
    }
    
    .quiz-answers li {
        font-size: 1.2rem;
    }

    #result {
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    #quotes{
        font-size: 1.2rem;
    }
}