@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    caret-color: transparent;
    width: 100%;
}

:root {
    --main-color: #DD8D14;
    --light-color: white;
    --dark-color: black;
    --accent-color: #071157;
    --transition: all 300ms ease-in-out;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}


h1,
h2 {
    color: var(--main-color);
}

.btn {
    padding: .4rem .8rem;
    background-color: var(--main-color);
    border: 3px solid var(--light-color);
    border-radius: .5rem;
    color: var(--accent-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.hide {
    display: none;
}

/* Animations */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loaderBlock {
    position: relative;
    margin: 10rem auto;
    width: 15rem;
    height: 15rem;
}

.loader {
    border: 1rem solid white;
    border-radius: 50%;
    border-top: 1rem solid var(--main-color);
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}

.loading {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: var(--main-color);
}

#logo-mobile {
    display: block;
}

#logo-desktop {
    display: none;
}

#quizWrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 1rem 1rem 1rem;
    width: 90%;
    text-align: center;
}

#timeSound {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#timeLeft {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    width: 6rem;
}

.sound-on,
.sound-off {
    margin: 1rem auto;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

#progressText {
    font-size: 1.2rem;
    margin-bottom: .2rem;
    font-weight: 500;
    color: var(--light-color);
}

#progressBar {
    width: 20rem;
    height: 1.5rem;
    border: 3px solid var(--main-color);
    margin-bottom: 1rem;
    border-radius: 50px;
    outline: 3px solid var(--light-color);
    width: 100%;
}

#progressBarFull {
    height: 100%;
    background-color: var(--main-color);
    width: 0%;
}

.quiz-score {
    font-weight: 800;
    font-size: 1.2rem;
    border: 5px solid var(--main-color);
    color: var(--main-color);
    margin: .5rem auto;
    width: 10rem;
    display: none;
}

.quiz-body {
    width: 100%;
}

.quiz-question {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.quiz-answers li {
    border-radius: .5rem;
    font-weight: 600;
    margin: 1rem auto;
    padding: .5rem .5rem;
    cursor: pointer;
    border: 3px solid var(--light-color);
    outline: 3px solid var(--main-color);
    color: var(--main-color);
    transition: var(--transition);
}

.quiz-answers li:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
    border-color: var(--light-color);
    transform: scale(0.97);
}

.quiz-answers li:active {
    transform: scale(0.97);
}

#result {
    width: 100%;
    padding: .5rem .5rem;
    font-size: 1.2rem;
    border: 3px solid var(--light-color);
    border-style: double;
    border-radius: .5rem;
}

.result-correct {
    background-color: green;
    color: var(--light-color);
}

.result-incorrect {
    background-color: rgb(182, 26, 26);
    color: var(--light-color);
}

.result-omit {
    background-color: var(--main-color);
    color: var(--accent-color);
}

#result i {
    color: var(--light-color);
}

#result b {
    color: var(--light-color);
}

.selected {
    background-color: var(--main-color) !important;
    color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}

/* End */

#endPage {
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
}

#finalScore {
    margin-top: 1rem;
}

#finalTextContainer {
    margin-top: 1rem;
    background-color: var(--main-color);
    border: 3px solid var(--light-color);
    padding: 1rem;
    border-radius: .5rem;
}

#final-text {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: 600;
}

#final-text strong {
    color: var(--light-color);
}

#final-quote {
    margin-top: 1rem;
    color: var(--accent-color);
    font-style: italic;
    font-weight: 600;
}

#endPage {
    width: 100%;
    display: none;
}

#end {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#username {
    width: 100%;
}

#saveScoreBtn {
    width: 100%;
}

#end-form {
    width: 100%;
}

#end-form input {
    border: 5px solid var(--main-color);
    border-radius: .5rem;
    font-size: 1.5rem;
    background-color: var(--accent-color);
    margin: 1rem auto;
    padding: .3rem .8rem;
    color: var(--light-color);
}

#end-form input:focus {
    outline: none;
}

#end-form input::placeholder {
    color: var(--main-color);
}

#username-text {
    width: 90%;
    font-size: small;
    font-weight: 600;
    margin: 0 auto 1rem auto;
    font-style: italic;
    color: var(--light-color);
}

#control-buttons {
    width: 100%;
    margin: 3rem auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

#control-buttons a {
    width: 50%;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .btn {
        padding: .4rem .8rem;
        background-color: var(--main-color);
        border: 3px solid var(--light-color);
        border-radius: .5rem;
        color: var(--accent-color);
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--accent-color);
        border: 3px solid var(--main-color);
        color: var(--main-color);
        cursor: pointer;
    }

    #logo-mobile {
        display: none;
    }

    #logo-desktop {
        display: block;
    }

    #quizWrapper {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2rem auto;
        padding: 0;
        width: 90%;
        height: auto;
    }

    #timeSound {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        width: 100%
    }

    #progressText {
        font-size: 1.5rem;
        margin-bottom: .5rem;
        font-weight: 500;
        color: var(--light-color);
    }

    #progressBar {
        width: 80%;
        margin-bottom: 2rem;
    }

    .quiz-body {
        width: 80%;
        margin-bottom: 1rem;
    }

    .quiz-question {
        font-size: 1.5rem;
    }

    .quiz-answers li {
        font-size: 1.2rem;
    }

    #result {
        font-size: 1.5rem;
        padding: 1rem 0;
        width: 80%;
    }

    /* End */

    #endPage {
        width: 80%;
    }

    #finalScore {
        font-size: 2rem;
    }

    #finalTextContainer {
        width: 100%;
    }

    #final-text {
        font-size: 1.8rem;
    }

    #final-quote {
        margin-top: 1.2rem;
    }

    #end-form {
        width: 100%;
    }

    #end-form input {
        margin: 1rem auto 0 auto;
    }

    #username-text {
        font-size: 1rem;
        margin: .5rem auto 1.5rem auto;
    }

    #control-buttons {
        width: 100%;
        margin: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #control-buttons a {
        width: 46%;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {

    #progressBar {
        width: 50%;
    }

    .quiz-body {
        width: 50%;
    }

    .quiz-question {
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    .quiz-answers li {
        font-size: 1.2rem;
    }

    #result {
        width: 50%;
    }

    #endPage {
        width: 60%;
    }
}